html {
  font-size: 10px;
}

body {
  margin: 0;
  background-image: url('http://www.zingerbugimages.com/backgrounds/colorful_starry_sky_glitter_background_seamless.gif');
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.ul {
  margin-top: 7rem;
}

.header {
  background-color: #231123;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem;
}

.header-title {
  color: #dfbbb1;
  font-family: 'EB Garamond', serif;
  font-size: 3.5rem;
  text-align: center;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(66.667%);
}

.menu {
  margin-left: 1rem;
  color: #dfbbb1;
  font-size: 2.5rem;
}

.heart-icon {
  color: #dfbbb1;
  font-size: 2.5rem;
  text-align: end;
  margin-right: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  width: 20%;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.list {
  color: #dfbbb1;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.white {
  color: white;
}

.music-header {
  display: flex;
  justify-content: center;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  margin-top: 4rem;
  color: #dfbbb1;
}

.row {
  display: flex;
}

.column-fourth {
  flex-basis: calc(25%);
}

.boxes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  height: 75%;
  border-radius: 5%;
}

.image-wrapper {
  width: 370px;
  height: 370px;
  background-color: rgb(35, 17, 35, 0.7);
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 3);
  margin: 0 auto;
  transition: background-color 1s ease;
  transition: transform 0.2s ease-in;
}

.image-wrapper:hover {
  background-color: rgb(223, 187, 177, 0.5);
  transform: scale(1.1);
}

.images-row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.homepage-text {
  font-size: 22px;
  color: #dfbbb1;
}

.homepage-text-container {
  width: 60%;
  background-color: rgb(35, 17, 35, 0.7);
  text-align: center;
  padding: 2rem;
  border-radius: 7%;
}

.homepage-text-row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.exit-styles {
  color: white;
  font-size: 3rem;
}

.exit {
  display: flex;
  justify-content: flex-end;
}

@media screen and (width <= 500px) {
  .header-title {
    font-size: 2rem;
    text-align: center;
  }

  .modal {
    width: 50%;
  }
}
