html {
  font-size: 10px;
}

body {
  margin: 0;
}

.header {
  background-color: #231123;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
}

.header-title {
  color: #dfbbb1;
  font-family: 'EB Garamond', serif;
  font-size: 3.5rem;
}
