html {
  font-size: 10px;
}

body {
  margin: 0;
  background-image: url('http://www.zingerbugimages.com/backgrounds/colorful_starry_sky_glitter_background_seamless.gif');
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #dfbbb1;
}

a:hover {
  color: white;
}

.ul {
  margin-top: 4rem;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.header {
  background-color: rgb(35, 17, 35, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.7rem;
}

.header-title {
  color: #dfbbb1;
  font-family: 'EB Garamond', serif;
  font-size: 3.5rem;
  text-align: center;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-two-thirds {
  flex-basis: calc(66.667%);
}

.menu {
  margin-left: 1rem;
  color: #dfbbb1;
  font-size: 2.5rem;
}

.menu:hover {
  cursor: pointer;
}

.heart-icon {
  color: #dfbbb1;
  font-size: 2.5rem;
  text-align: end;
  margin-right: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.list {
  color: #dfbbb1;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  background-color: rgb(35, 17, 35, 0.4);
  border-radius: 3rem;
  padding: 1rem;
}

.list:hover {
  background-color: rgb(35, 17, 35, 0.8);
}

.white {
  color: white;
}

.row {
  display: flex;
}

.column-fourth {
  flex-basis: calc(25%);
}

.boxes {
  height: 100%;
  display: flex;
  justify-content: center;
}

.music-image {
  width: 100%;
  filter: brightness(75%);
  border-radius: 4rem;
}

.image {
  height: 90%;
  border-radius: 5%;
}

.image-wrapper {
  width: 40rem;
  height: 40rem;
  background-color: rgb(35, 17, 35, 0.7);
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 3);
  margin: 0 auto;
  transition: background-color 1s ease;
  transition: transform 0.2s ease-in;
}

.image-wrapper:hover {
  background-color: rgb(223, 187, 177, 0.5);
  transform: scale(1.1);
}

.images-row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.homepage-text {
  font-size: 22px;
  color: #dfbbb1;
}

.homepage-text-container {
  width: 60%;
  background-color: rgb(35, 17, 35, 0.7);
  text-align: center;
  padding: 2rem;
  border-radius: 7%;
}

.homepage-text-row {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.exit-styles {
  color: #dfbbb1;
  font-size: 3rem;
}

.exit-styles:hover {
  cursor: pointer;
}

.exit {
  display: flex;
  justify-content: flex-end;
}

.carousel-row {
  display: flex;
  justify-content: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-third {
  display: flex;
  flex-basis: calc(50%);
}

.carousel-images {
  width: 100%;
  filter: brightness(75%);
  border-radius: 4rem;
}

.artist-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(35, 17, 35, 0.4);
}

.artist-names {
  color: #dfbbb1;
  font-size: 2.3rem;
  cursor: pointer;
}

@media screen and (width <= 1200px) {
  .header-title {
    font-size: 2rem;
    text-align: center;
  }

  .image-wrapper {
    width: 30rem;
    height: 30rem;
  }

  .modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .homepage-text-container {
    width: 100%;
  }

  .artist-names {
    font-size: 2rem;
  }
}

@media screen and (width <= 900px) {
  .header-title {
    font-size: 2rem;
    text-align: center;
  }

  .image-wrapper {
    width: 25rem;
    height: 25rem;
  }

  .modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .homepage-text-container {
    width: 100%;
  }

  .artist-names {
    font-size: 1.5rem;
  }
}

@media screen and (width <= 750px) {
  .image-wrapper {
    width: 50rem;
    height: 50rem;
  }

  .header-title {
    font-size: 2rem;
    text-align: center;
  }

  .modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .images-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }

  .homepage-text-container {
    width: 100%;
  }
}

@media screen and (width <= 550px) {
  .image-wrapper {
    width: 30rem;
    height: 30rem;
  }

  .header-title {
    font-size: 2rem;
    text-align: center;
  }

  .modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .images-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }

  .homepage-text-container {
    width: 100%;
  }
}
